* {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* Breakpoints personalizados si los necesitas */
:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}